<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
<title>Best of Rationality Quotes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/main.css" type="text/css">
<link rel="stylesheet" href="css/lesswrong.css" type="text/css">
<link rel="shortcut icon" href="http://lesswrong.com/static/favicon.ico" type="image/x-icon">
<link href="css/default.css" type="text/css" rel="stylesheet">
<link media="all" href="css/widget38.css" type="text/css" rel="stylesheet">
</head>
<body class="post">
<div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; 
position: absolute; z-index: 100000;"></div>
<div id="wrapper"><!-- #header -->
<div id="main" class="clear">
<div id="content" class="clear ">
<div id="siteTable" class="sitetable">
<div class="post editors-pick">

<h1>Best of Rationality Quotes</h1>
